.menu-category {
    .title {
        font-size: 24px;
    }

    .menu-items {
        border-radius: 15px;
    }

    .splitter {
        height: 0;
        width: 100%;
        border: 1px solid #f5f5f5;
    }
}