@import '../../theme/style';

.login-page {
    padding: 40px 0px;
    min-height: 100vh;

    // customize phone input style
    .PhoneInput {
        width: 350px;
        margin: 30px 0px;

        .PhoneInputCountry {
            padding: 20px;
            background: $white;
            border-radius: 29px 0px 0px 29px;
        }

        .PhoneInputInput {
            border-radius: 0px 29px 29px 0px;
            border: none;
            height: 54px;

            &:focus {
                outline: 0;
            }

            &::placeholder {
                color: $gray-1;
                font-size: 18px;
                padding-left: 12px;
            }
        }
    }

    // customize login button style
    .login-btn {
        padding: 10px 0px;
        border-radius: 29px;
        border: none;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        font-weight: 700;
    }
    input {
        font-weight: bold;
        font-size: 20px;
        &:focus {
            border: 2px solid $primary-color;
            outline: none;
        }
    }
}