.white-text {
    color: $white;
}

.gray-text {
    color: $gray-text;
}

.gray2-text {
    color: $gray-3;
}

.gray3-text {
    color: $gray-3;
}

.gray4-text {
    color: $gray-4;
}

.blue-text {
    color: $blue-text;
}

.primary-text {
    color: $primary-color;
}

.primary-border {
    border: 1px solid $primary-color;
}


.transparent-bg {
    background-color: transparent;
}

.white-bg {
    background-color: $white;
}

.primary-bg {
    background-color: $primary-color;
}

.secondary-bg {
    background-color: $secondary-color;
}