$primary-color: #FF7010;
$secondary-color: #FFF5EF;
$gray-1: #ADADAD;
$gray-2: #e2e2e2;
$gray-3: #666666;
$gray-4: #6A6A6A;
$gray-text: #707070;
$dark-text: #1F1F1F;
$blue-text: #0978FF;
$white: #fff;